{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}password change form{% endblock %}



{% block content %}
<div id="content-main">

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">{% csrf_token %}
{% bootstrap_form form %}

<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}Please correct the error below{% else %}Please correct the errors below.{% endif %}
    </p>
{% endif %}


<div class="submit-row">
    {% buttons %}
    <input type="submit" value="Change my password" class="default" />
    {% endbuttons %}
</div>

</div>
</form></div>

{% endblock %}

